<div class="sidenav">
    <button class="sidebar-toggle is-closed">Option</button>
    <div class="quantidade">
        <span>Quantity</span>
        <input id="quantidade" type="number" min="1" step='1' placeholder="Type Here">
    </div>
</div>
<div class="sidebar is-closed">
    <select class="select">
        <option selected disabled value="0">Dropdown</option>
        <option value="1">A</option>
        <option Value="2">B</option>
    </select>
</div>
<div class="itens"></div>
<div class="paginacao">
    <button class="anterior"><span class="material-icons">arrow_back</span></button><button class="proximo"><span class="material-icons">arrow_forward</span></button>
</div>