<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('components/head.ejs') %>
    </head>
    <body>
        <main>
            <%- include('components/body.ejs') %>
            <%- include('components/footer.ejs') %>
        </main>
    </body>

</html>